.header {
  background: #15bdc3;
  color: rgb(5, 13, 35);
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 2.5rem;
}

.header-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-info a {
  color: rgb(5, 13, 35);
  text-decoration: none;
}

.header-info button {
  background: #1c0969;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.header-info button:hover {
  background: #e7e0e0;
}
